* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  overflow: hidden;
}
.menu {
  height: 95%;
  width: 95%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("./image/pexels-vincent-ma-janssen-1310777.jpg");
  background-size: cover;
  border: 15px;
  position: relative;
}

.menu h1 {
  font-size: 5rem;
  font-weight: 100;
  font-family: "Cedarville Cursive", cursive;
  color: rgb(231, 186, 131);
}
.menu h2 {
  font-size: 3rem;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(228, 140, 32);
}

#menuBox {
  width: 98%;
  height: 70%;
  background-color: rgb(32, 19, 2, 0.6);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
}

.chartList {
  padding: 0.5rem;
  cursor: move;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(163, 115, 81, 0.8);
  border-radius: 10px;
}
.chartList div {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  color: bisque;
  font-weight: 200;
  border: 2px solid red;
}

.chartList h3 {
  width: 100%;
  margin-bottom: 10px;
  /* padding: 5px; */
  border: 3px solid rgba(112, 60, 23, 0.8);
  text-align: center;
}
.enter {
  background-color: rgb(32, 19, 2, 0.6);
  transform: scale(1.1);
  transition: transform 0.2s ease-out;
}
label {
  color: rgb(201, 24, 224);
  font-size: 20px;
  font-weight: 400;
  border: 2px solid rgb(201, 24, 224);
}

.chartList .over {
  border: 3px dotted #353333;
}

#live_data {
  width: 100%;
  height: 3rem;
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
